# ignore sensitive files
*.secrets
*oauth2-proxy.cfg
*.credential*

# ignore sensitive files (TODO: remove)
*/gluetun/data/
*/radicale/configs/users
*/soulseek/slskd.yml
*/cloudflare-ddns/config.json
*/caddy/secrets.env
*/hivenet/machine-config/machine-id
*/gluetun/oauth2/
**/tautulli

# ignore temporary files
*.swp

# ignore trashes
*.filen.trash.local/
*.recycle/
*.Trash-0/

# ignore backups
*.bak*
*/backups/
*.dump

# ignore internal repos
*.git/
*source/

# ignore data backed up elsewhere
*/data/

# ignore ephemeral folders/files
*ephemeral

# ignore state (semi-ephemeral) files
adguardhome/state/

# ignore caches
*__pycache__/

# ignore actions
*github-runner/

# ignore unique files
adguardhome/.env
adguardhome/keepalived.env
caddy/keepalived.env

