# TODO: migrate secrets elsewhere so you can track .env files
# ignore sensitive files
.env
oauth2-proxy.cfg
gluetun/data/
radicale/configs/users
soulseek/slskd.yml
cloudflare-ddns/config.json

# ignore temporary files
*.swp

# ignore trash
*.filen.trash.local/
*.recycle/
*.Trash-0/

# ignore intake
dawarich/imports/

# ignore backups
*.bak*
*/backups/
*.dump

# ignore extremely large folders
dawarich/photon-db/

# ignore archived stacks
+deprecated/
*.7z*

# ignore internal repos
*.git/
*build/

# ignore data backed up elsewhere
*data/
*backups/

# ignore ephemeral files
*ephemeral/

# temporarily ignore certain apps (until I migrate to Docker volumes)
backrest/
firefox-sync/
headscale/
