# ignore sensitive files
*.secrets
*oauth2-proxy.cfg
*.credential*

# ignore sensitive files (TODO: remove)
*/gluetun/data/
*/radicale/configs/users
*/soulseek/slskd.yml
*/cloudflare-ddns/config.json
*/caddy/configs/snippets/common.conf
*/hivenet/machine-config/machine-id
*/gluetun/oauth2/

# ignore temporary files
*.swp

# ignore trashes
*.filen.trash.local/
*.recycle/
*.Trash-0/

# ignore backups
*.bak*
*/backups/
*.dump

# ignore internal repos
*.git/
*source/

# ignore data backed up elsewhere (TODO: remove and migrate)
*/data/

# ignore ephemeral folders/files
*ephemeral

# ignore actions
*github-runner/
