# Replace with your own credentials
client_id = ""
client_secret = ""

# Generate with: dd if=/dev/urandom bs=32 count=1 2>/dev/null | base64 | tr -d -- '\n' | tr -- '+/' '-_' ; echo
# Replace with a secure random string
cookie_secret = ""

# Upstream servers (e.g http://uptime-kuma:3001)
upstreams = "http://"

# Listen on all interfaces
http_address = "0.0.0.0:XXXX"

# Ignore auth for these URLs
# skip_auth_routes = [".*/api"]

## Don't Change
# Pocket ID domain
oidc_issuer_url = "https://id.samskeyti.net"

# Additional configuration
provider = "oidc"
scope = "openid email profile groups"

# If you are using a reverse proxy in front of OAuth2 Proxy
reverse_proxy = "true"

# Email domains allowed for authentication
email_domains = "*"
insecure_oidc_allow_unverified_email = "true"

# If you are using HTTPS
cookie_secure = "true"

# Skip straight to PocketID login
skip_provider_button = "true"
